@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Space+Mono:ital,wght@0,700;1,700&display=swap');

.headerDiv{
    display: flex;
    flex-direction: row;
}

.headerDiv img{
    margin-top: 1.5rem;
    margin-left: 1rem;
    width: auto;
    height: 2.5rem;
}

h1{
    font-family: 'Fjalla One';
}

.orejas{
    width: 12rem;
    height: auto;
}