@import url('https://fonts.cdnfonts.com/css/bootleg-tim-burton');

:root {
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --font-medium: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login--title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Bootleg Tim Burton', sans-serif;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.login--content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}

.login--input-box {
    position: relative;
}

.login-input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login--input-label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top 0.3s, font-size 0.3s;
}

input, button {
    outline: none;
    border: none;
}

@media screen and (min-width: 576px) {
    .login--title {
        font-size: 2rem;
    }
}